---
layout: default
---
<div class="post">
  <br>
  <header class="post-header">
    <h1 class="post-title">{% include week.html date=page.date title="true" %}{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%Y年%-m月%-d日" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} • {% for category in page.categories %}{{ category | capitalize }}{% endfor %} • <a href="{{ page.url | prepend: site.baseurl }}#disqus_thread"></a> • <a href="https://github.com/tnantoka/swift-a-week/commits/gh-pages/{{ page.path }}">編集履歴</a></small></p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if site.safe %}
    <div id="disqus_thread"></div>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        /*
        var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//swiftaweek.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
</div>
